.question-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.question-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 200px;
  font-size: 1.5em;
  gap: 20px;
  background-color: aqua;
  position: relative;
}

.question-box__questions {
  background-color: aqua;
  padding: 20px;
  font-size: 2vh;
  padding-top: 30px;
}

.question-box__answer-button {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: aqua;
  border: none;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.question-box__answer-button:hover {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.question-box__answer-button:active {
  background-color: aqua;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

.question-box__container {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: aqua;
  gap: 10px;
  margin: 20px;
}

.question-box__container__categories {
  background-color: blue;
  color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.5em;
}

.question-box img {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  right: 1%;
  top: -4%;
  width: 10%;
  cursor: pointer;
}
