.form-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 75px;
  margin-bottom: 75px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 200px;
  font-size: 1.5em;
  gap: 10px;
  background-color: aqua;
  position: relative;
}

textarea {
  font-size: 1vh;
  width: 90%;
}

label {
  font-size: 1vh;
  width: 90%;
  background-color: aqua;
}

input {
  font-size: 1vh;
  width: 90%;
}

button {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: aqua;
  border: none;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: aqua;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}
