* {
  box-sizing: border-box;
  margin: 0px;
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: xx-large;
    background-color: lightgray;
    border-bottom: 2px solid black;
    text-align: center;
  }

  .question-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .question-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 200px;
    font-size: 1.5em;
    margin: 30px;
    margin-top: 70px;
    background-color: aqua;
    gap: 50px;
  }

  .questions {
    background-color: aqua;
    padding: 20px;
    font-size: 4vw;
  }

  .answer-button {
    background-color: beige;
  }

  .question-box__container {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aqua;
    gap: 10px;
    margin: 20px;
  }

  .question-box__container--categories {
    background-color: blue;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.5em;
  }
}
